@model ProyectoParqueoFinal.ViewModels.SeguridadVM;
<div>
    <h3>Espacios Disponibles</h3>
    <p><strong>Automóviles:</strong> @ViewData["EspaciosDisponiblesAutos"]</p>
    <p><strong>Motocicletas:</strong> @ViewData["EspaciosDisponiblesMotos"]</p>
    <p><strong>Espacios Ley 7600:</strong> @ViewData["EspaciosDisponibles7600"]</p>
</div>
<form asp-controller="Seguridad" asp-action="GestionParqueo" method="post">
   <input class="form-control mb-3" type="text" placeholder="Número de matrícula" required asp-for="NumeroPlaca" />
   <input type="hidden" name="accion" value="Entrada" />
   <button class="btn btn-primary btn-block" type="submit">Ingreso</button>
</form>

<form asp-controller="Seguridad" asp-action="GestionParqueo" method="post">
    <input class="form-control mb-3" type="text" placeholder="Número de matrícula" required asp-for="NumeroPlaca" />
    <input type="hidden" name="accion" value="Salida" />
    <button class="btn btn-secondary btn-block" type="submit">Salida</button>
</form>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Mensaje"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}