@model ProyectoParqueoFinal.ViewModels.ModificarUsuariosVM;

<html style="background-color: blueviolet;">
<head>
    <title>Modificar Usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color: blueviolet;">
    <div class="row mt-5 justify-content-center" style="background-color: blueviolet;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h3>Modificar Usuario</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="ModificarUsuarios" asp-action="ModificarUsuarios" method="post">
                        @* <input type="hidden" name="_method" value="PUT" /> *@
                        <input class="form-control mb-3" type="text" placeholder="Nombre" required asp-for="Nombre" value="@Model.Nombre" />
                        <input class="form-control mb-3" type="text" placeholder="Apellido" required asp-for="Apellido" value="@Model.Apellido" />
                        <input class="form-control mb-3" type="email" placeholder="Correo electronico" required asp-for="CorreoElectronico" value="@Model.CorreoElectronico" />
						<input class="form-control mb-3" type="date" placeholder="Fecha de Nacimiento" required asp-for="FechaNacimiento" value="@Model.FechaNacimiento" />
						<input class="form-control mb-3" type="text" placeholder="Cédula" required asp-for="Cedula" value="@Model.Cedula" />
						<input class="form-control mb-3" type="text" placeholder="Número de Carnet" required asp-for="NumeroCarne" value="@Model.NumeroCarne" />
                        <input class="form-control mb-3" type="password" placeholder="Password" required asp-for="Password" value="@Model.Password" />
                        <select class="form-control mb-3" placeholder="Rol" required asp-for="Rol">
                            <option disabled selected value="Rol">Rol</option>
                            <option value="Administrador" selected="@(Model.Rol == "Administrador")">Administrador</option>
                            <option value="Seguridad" selected="@(Model.Rol == "Seguridad")">Seguridad</option>
                            <option value="Usuario" selected="@(Model.Rol == "Estudiante")">Estudiante</option>
                            <option value="Usuario" selected="@(Model.Rol == "Administrativo")">Administrativo</option>
                        </select>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.RequiereCambioPassword" value="true" id="Checkbox1" />
                            <label class="form-check-label" for="Checkbox1">
                                Requiere Cambio de Password
                            </label>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Modificar</button>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
								@ViewData["Mensaje"] = "No fue posible modificar el usuario";
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>